* {

    box-sizing: border-box;
    font-family: Georgia;

}

h3 {

font-weight: normal;

}

html, body {

    height: 100%;

}


body {

	background-size:  cover;
	background-color: #999;

}

.container {

    width: 400px;

    margin: 0 auto;
    text-align: center;

    background: rgba(255,255,255,0.4);

    margin-top: 70px;
    padding: 40px 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

input, button {

    display: block;
    margin: 10px auto;

}

form, input, button {

   width: 100%;

}

input {

    height: 40px;
    border-radius: 5px;
    font-size: 32px;
    text-align: center;
    outline: none;
}

button {

    cursor: pointer;
    background: #4286f4;
    outline: none;
    border: none;
    height: 40px;
    font-size: 22px;
    border-radius: 5px;
}

button:hover {

    background: #79a9f7;

}

a {

    color: inherit;
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}

a:hover {

    background-color: rgba(0,0,0,0.3);

}

#rezultat {

    display: block;

}