{% extends "base.html" %}

{% block specifika %}

    <div class="container">
        <div class="left-aside">
            <h2>Python Projekti</h2>
        </div>
        <div class="content">
            <h3><a href="/loto">Loto Generator</a></h3>
            <h3><a href="/kalkulator">Kalkulator</a></h3>
            <h3><a href="/uganistevilo">Ugani število</a></h3>
            <h3><a href="/pretvornik">Pretvornik enot</a></h3>
            <h3><a href="/uganimesto">Ugani glavno mesto</a></h3>
            <h3><a href="/forenzicniprogram">Forenzicni program</a></h3>
        </div>
        <div class="time">
            <p id="clock">{{ cas }}</p>
        </div>
    </div>
    <div class="container">
        <div class="left-aside">
            <h2>Ostali Projekti</h2>
        </div>
        <div class="content">
            <div class="image-card">
                <a href="http://www.gregormedvesek.com" target="_blank"><img src="/assets/img/portfolio.png" class="portfolio-image"></a>
                <h3>Personal Portfolio</h3>
            </div>
            <div class="image-card">
                <a href="http://www.gregormedvesek.com/pages/weather" target="_blank"><img src="/assets/img/weather.png" class="portfolio-image"></a>
                <h3>Weather App</h3>
            </div>
            <div class="image-card">
                <a href="https://codepen.io/medvesekg/full/awGoLe/" target="_blank"><img src="/assets/img/tictactoe.png" class="portfolio-image"></a>
                <h3>Tic Tac Toe</h3>
            </div>
            <div class="image-card">
                <a href="https://codepen.io/medvesekg/full/PmxNNm/" target="_blank"><img src="/assets/img/twitch.png" class="portfolio-image"></a>
                <h3>Twitch Streams App</h3>
            </div>
        </div>

    </div>

{% endblock specifika %}